<div class="flex items-center justify-start mt-[100px] px-[160px]">
  <img
    src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"
    alt=""
    class="h-[400px] object-cover mr-12"
  />
  <div class="flex flex-col justify-start max-w-3xl space-y-6">
    <h1 class="text-4xl text-white font-bold">{{ movie.title }}</h1>
    <p class="text-white font-medium text-xl">{{ movie.overview }}</p>
    <button
      class="px-2 py-1 w-[140px] bg-primary text-xl font-medium rounded-full shadow-sm text-white"
    >
      <a
        class="aspect-video"
        href="https://www.themoviedb.org/video/play?key={{ trailerMovie }} "
        target="_blank"
        >Xem trailer</a
      >
    </button>
  </div>
</div>

<div class="mt-12 px-[160px]">
  <h2 class="text-3xl text-white font-bold my-5">Top Cast</h2>
  <div class="grid grid-cols-3 gap-6">
    <div
      class="flex items-center justify-start space-x-4"
      *ngFor="let c of castMovie"
    >
      <img
        *ngIf="c.profile_path"
        src="https://image.tmdb.org/t/p/original/{{ c.profile_path }}"
        alt=""
        class="h-[200px] object-cover"
      />
      <div>
        <p class="text-2xl text-white font-bold">{{ c.name }}</p>
        <p class="text-2xl text-white font-medium">{{ c.character }}</p>
      </div>
    </div>
  </div>
</div>
