<nav
  #navbar
  class="flex px-8 py-4 justify-between items-center fixed top-0 inset-x-0 bg-transparent z-20"
>
  <div class="logo text-primary font-bold text-3xl">
    <a href="" routerLink="">ShowTime</a>
  </div>
  <div>
    <button
      *ngIf="!search"
      href=""
      class="text-primary font-semibold text-xl mr-5"
      (click)="onSearch()"
    >
      Search
    </button>
    <input
      class="outline-none border-white bg-black border-2 px-6 py-1 mr-6 text-xl text-white"
      type="text"
      name=""
      #search
      placeholder="Search Movie"
      *ngIf="search"
      (focusout)="onFocusOut()"
    />
    <a href="" class="text-primary font-semibold text-xl" routerLink="">Home</a>
  </div>
</nav>

<router-outlet></router-outlet>
